In [39]:
# Import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import json
pd.set_option('max_colwidth', 400)

### Extract the crowdfunding.xlsx Data

In [9]:
# Read the data into a Pandas DataFrame
crowdfunding_info_df = pd.read_excel('Resources/crowdfunding.xlsx')
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [10]:
# Get a brief summary of the crowdfunding_info DataFrame.
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   blurb                    1000 non-null   object
 4   goal                     1000 non-null   int64
 5   pledged                  1000 non-null   int64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_at              1000 non-null   int64
 11  deadline                 1000 non-null   int64
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(7), object(6)
memory usage: 103.6+ KB

### Create the Category and Subcategory DataFrames
---
**Create a Category DataFrame that has the following columns:**
- A "category_id" column that is numbered sequential form 1 to the length of the number of unique categories.
- A "category" column that has only the categories.

Export the DataFrame as a `category.csv` CSV file.

**Create a SubCategory DataFrame that has the following columns:**
- A "subcategory_id" column that is numbered sequential form 1 to the length of the number of unique subcategories.
- A "subcategory" column that has only the subcategories. 

Export the DataFrame as a `subcategory.csv` CSV file.

In [11]:
# Get the crowdfunding_info_df columns.
cols = crowdfunding_info_df.columns[14].split(' & ')
cols

['category', 'sub-category']

In [12]:
# Assign the category and subcategory values to category and subcategory columns.
crowdfunding_info_df[['category','subcategory']] = crowdfunding_info_df['category & sub-category'].str.split('/',expand=True)
crowdfunding_info_df

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2986,3684,Manning-Hamilton,Vision-oriented scalable definition,97300,153216,successful,2043,US,USD,1609221600,1622350800,False,True,food/food trucks,food,food trucks
996,2031,5784,Butler LLC,Future-proofed upward-trending migration,6600,4814,failed,112,US,USD,1634274000,1638252000,False,False,theater/plays,theater,plays
997,1627,1498,Ball LLC,Right-sized full-range throughput,7600,4603,canceled,139,IT,EUR,1636174800,1639116000,False,False,theater/plays,theater,plays
998,2175,6073,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600,37823,failed,374,US,USD,1602133200,1618117200,False,True,music/indie rock,music,indie rock
999,1788,4939,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100,62819,canceled,1122,US,USD,1609308000,1629262800,False,False,food/food trucks,food,food trucks

In [13]:
crowdfunding_info_df.drop('category & sub-category', axis=1, inplace=True)
crowdfunding_info_df

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater,plays
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2986,3684,Manning-Hamilton,Vision-oriented scalable definition,97300,153216,successful,2043,US,USD,1609221600,1622350800,False,True,food,food trucks
996,2031,5784,Butler LLC,Future-proofed upward-trending migration,6600,4814,failed,112,US,USD,1634274000,1638252000,False,False,theater,plays
997,1627,1498,Ball LLC,Right-sized full-range throughput,7600,4603,canceled,139,IT,EUR,1636174800,1639116000,False,False,theater,plays
998,2175,6073,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600,37823,failed,374,US,USD,1602133200,1618117200,False,True,music,indie rock
999,1788,4939,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100,62819,canceled,1122,US,USD,1609308000,1629262800,False,False,food,food trucks

In [14]:
# Get the unique categories and subcategories in separate lists.
categories = crowdfunding_info_df['category'].unique()
subcategories = crowdfunding_info_df['subcategory'].unique()

print(categories)
print(subcategories)

['food' 'music' 'technology' 'theater' 'film & video' 'publishing' 'games'
 'photography' 'journalism']
['food trucks' 'rock' 'web' 'plays' 'documentary' 'electric music' 'drama'
 'indie rock' 'wearables' 'nonfiction' 'animation' 'video games' 'shorts'
 'fiction' 'photography books' 'radio & podcasts' 'metal' 'jazz'
 'translations' 'television' 'mobile games' 'world music'
 'science fiction' 'audio']

In [15]:
# Get the number of distinct values in the categories and subcategories lists.
print(len(categories))
print(len(subcategories))

9
24

In [16]:
# Create numpy arrays from 1-9 for the categories and 1-24 for the subcategories.
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

print(category_ids)
print(subcategory_ids)

[1 2 3 4 5 6 7 8 9]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]

In [18]:
# Use a list comprehension to add "cat" to each category_id. 
cat_ids = [f"cat{category_id}" for category_id in category_ids]
# Use a list comprehension to add "subcat" to each subcategory_id.    
subcat_ids = [f"subcat{subcategory_id}" for subcategory_id in subcategory_ids]
    
print(cat_ids)
print(subcat_ids)

['cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9']
['subcat1', 'subcat2', 'subcat3', 'subcat4', 'subcat5', 'subcat6', 'subcat7', 'subcat8', 'subcat9', 'subcat10', 'subcat11', 'subcat12', 'subcat13', 'subcat14', 'subcat15', 'subcat16', 'subcat17', 'subcat18', 'subcat19', 'subcat20', 'subcat21', 'subcat22', 'subcat23', 'subcat24']

In [19]:
# Create a category DataFrame with the category_id array as the category_id and categories list as the category name.
category_dict = {'category_id' : cat_ids , 'category' : categories}
category_df = pd.DataFrame(category_dict)
# Create a category DataFrame with the subcategory_id array as the subcategory_id and subcategories list as the subcategory name. 
subcategory_dict = {'subcategory_id' : subcat_ids , 'subcategory' : subcategories}
subcategory_df = pd.DataFrame(subcategory_dict)

In [20]:
category_df

  category_id      category
0        cat1          food
1        cat2         music
2        cat3    technology
3        cat4       theater
4        cat5  film & video
5        cat6    publishing
6        cat7         games
7        cat8   photography
8        cat9    journalism

In [21]:
subcategory_df

   subcategory_id        subcategory
0         subcat1        food trucks
1         subcat2               rock
2         subcat3                web
3         subcat4              plays
4         subcat5        documentary
5         subcat6     electric music
6         subcat7              drama
7         subcat8         indie rock
8         subcat9          wearables
9        subcat10         nonfiction
10       subcat11          animation
11       subcat12        video games
12       subcat13             shorts
13       subcat14            fiction
14       subcat15  photography books
15       subcat16   radio & podcasts
16       subcat17              metal
17       subcat18               jazz
18       subcat19       translations
19       subcat20         television
20       subcat21       mobile games
21       subcat22        world music
22       subcat23    science fiction
23       subcat24              audio

In [22]:
# Export categories_df and subcategories_df as CSV files.
category_df.to_csv("Resources/category.csv", index=False)

subcategory_df.to_csv("Resources/subcategory.csv", index=False)

### Campaign DataFrame
----
**Create a Campaign DataFrame that has the following columns:**
- The "cf_id" column.
- The "contact_id" column.
- The “company_name” column.
- The "blurb" column is renamed as "description."
- The "goal" column.
- The "goal" column is converted to a `float` datatype.
- The "pledged" column is converted to a `float` datatype. 
- The "backers_count" column. 
- The "country" column.
- The "currency" column.
- The "launched_at" column is renamed as "launch_date" and converted to a datetime format. 
- The "deadline" column is renamed as "end_date" and converted to a datetime format.
- The "category_id" with the unique number matching the “category_id” from the category DataFrame. 
- The "subcategory_id" with the unique number matching the “subcategory_id” from the subcategory DataFrame.
- And, create a column that contains the unique four-digit contact ID number from the `contact.xlsx` file.
 

Then export the DataFrame as a `campaign.csv` CSV file.

In [23]:
# Create a copy of the crowdfunding_info_df DataFrame name campaign_df. 
campaign_df = crowdfunding_info_df.copy()
campaign_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater,plays

In [24]:
# Rename the blurb, launched_at, and deadline columns.
campaign_df = campaign_df.rename(columns={'blurb': 'description', 'launched_at': 'launched_date',
                                          'deadline': 'end_date'})
campaign_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,staff_pick,spotlight,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater,plays

In [26]:
# Convert the goal and pledged columns to a `float` data type.
campaign_df['goal'] = campaign_df['goal'].astype(float)
campaign_df['pledged'] = campaign_df['pledged'].astype(float)

campaign_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cf_id          1000 non-null   int64
 1   contact_id     1000 non-null   int64
 2   company_name   1000 non-null   object
 3   description    1000 non-null   object
 4   goal           1000 non-null   float64
 5   pledged        1000 non-null   float64
 6   outcome        1000 non-null   object
 7   backers_count  1000 non-null   int64
 8   country        1000 non-null   object
 9   currency       1000 non-null   object
 10  launched_date  1000 non-null   int64
 11  end_date       1000 non-null   int64
 12  staff_pick     1000 non-null   bool
 13  spotlight      1000 non-null   bool
 14  category       1000 non-null   object
 15  subcategory    1000 non-null   object
dtypes: bool(2), float64(2), int64(5), object(7)
memory usage: 111.5+ KB

In [28]:
# Format the launched_date and end_date columns to datetime format
campaign_df["launched_date"] = pd.to_datetime(campaign_df["launched_date"], unit='s').dt.strftime('%Y-%m-%d')
campaign_df["end_date"] = pd.to_datetime(campaign_df["end_date"], unit='s').dt.strftime('%Y-%m-%d')

ValueError: non convertible value 2020-02-13 with the unit 's'

In [29]:
campaign_df

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,staff_pick,spotlight,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13,2021-03-01,False,False,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25,2021-05-25,False,True,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17,2021-12-30,False,False,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21,2022-01-17,False,False,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21,2021-08-23,False,False,theater,plays
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2986,3684,Manning-Hamilton,Vision-oriented scalable definition,97300.0,153216.0,successful,2043,US,USD,2020-12-29,2021-05-30,False,True,food,food trucks
996,2031,5784,Butler LLC,Future-proofed upward-trending migration,6600.0,4814.0,failed,112,US,USD,2021-10-15,2021-11-30,False,False,theater,plays
997,1627,1498,Ball LLC,Right-sized full-range throughput,7600.0,4603.0,canceled,139,IT,EUR,2021-11-06,2021-12-10,False,False,theater,plays
998,2175,6073,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600.0,37823.0,failed,374,US,USD,2020-10-08,2021-04-11,False,True,music,indie rock
999,1788,4939,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100.0,62819.0,canceled,1122,US,USD,2020-12-30,2021-08-18,False,False,food,food trucks

In [30]:
# Merge the campaign_df with the category_df on the "category" column and 
# the subcategory_df on the "subcategory" column.
campaign_cat_df=pd.merge(campaign_df , category_df , on='category')
campaign_merged_df=pd.merge(campaign_cat_df , subcategory_df , on='subcategory')

campaign_merged_df.tail(10)

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,staff_pick,spotlight,category,subcategory,category_id,subcategory_id
990,399,5983,"Dixon, Perez and Banks",Re-engineered encompassing definition,8300.0,2111.0,failed,57,CA,CAD,2021-12-29,2022-01-16,False,False,photography,photography books,cat8,subcat15
991,1378,2873,Clements Ltd,Persistent bandwidth-monitored framework,3700.0,1343.0,failed,52,US,USD,2020-07-07,2021-07-27,False,False,photography,photography books,cat8,subcat15
992,806,2961,Walter Inc,Streamlined 5thgeneration intranet,10000.0,8142.0,failed,263,AU,AUD,2020-12-20,2021-01-31,False,False,photography,photography books,cat8,subcat15
993,1563,3043,"Sanders, Farley and Huffman",Cross-group clear-thinking task-force,172000.0,55805.0,failed,1691,US,USD,2021-04-08,2021-12-18,True,False,photography,photography books,cat8,subcat15
994,1951,6013,Rodriguez-Robinson,Ergonomic methodical hub,5900.0,4997.0,failed,114,IT,EUR,2021-07-23,2021-11-25,False,True,photography,photography books,cat8,subcat15
995,461,3521,Erickson-Rogers,De-engineered even-keeled definition,9800.0,7608.0,canceled,75,IT,EUR,2021-07-03,2021-07-08,False,True,photography,photography books,cat8,subcat15
996,1095,3565,Young and Sons,Innovative disintermediate encryption,2400.0,4596.0,successful,144,US,USD,2020-11-28,2021-02-28,False,False,journalism,audio,cat9,subcat24
997,1388,4517,Valenzuela-Cook,Total incremental productivity,6700.0,7496.0,successful,300,US,USD,2021-01-04,2021-10-04,False,False,journalism,audio,cat9,subcat24
998,2448,2389,Little Ltd,Decentralized bandwidth-monitored ability,6900.0,12155.0,successful,419,US,USD,2021-01-25,2021-04-18,False,False,journalism,audio,cat9,subcat24
999,602,2153,Giles-Smith,Right-sized web-enabled intranet,9700.0,11929.0,successful,331,US,USD,2022-02-01,2022-02-16,False,False,journalism,audio,cat9,subcat24

In [31]:
# Drop unwanted columns
campaign_clean=campaign_merged_df[['cf_id', 'contact_id','company_name',
                                        'description','goal', 'pledged','outcome','backers_count', 'country',
                                        'currency', 'launched_date','end_date', 'category_id','subcategory_id'
                                       ]]

In [32]:
# Export the DataFrame as a CSV file. 
campaign_clean.to_csv("Resources/campaign.csv", index=False)

### Extract the contacts.xlsx Data.

In [52]:
# Read the data into a Pandas DataFrame. Use the `header=2` parameter when reading in the data.
contact_info_df = pd.read_excel('Resources/contacts.xlsx',header=2)
contact_info_df.head()

0                                                                               contact_info
1   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
2          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
3            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
4  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}

In [53]:
contact_info_df.values[0]

array(['contact_info'], dtype=object)

In [54]:
contact_info_df.columns[0]

'   '

In [62]:
clean_contacts = contact_info_df.values.tolist()
clean_list = []
for item in clean_contacts:
    clean_list.append(item[0].split(","))

contacts = pd.DataFrame(clean_list, columns = ["contact_id","name","email"])

In [63]:
contacts.head()

,contact_id,name,email
0,contact_info,None,None
1,"{""contact_id"": 4661","""name"": ""Cecilia Velasco""","""email"": ""cecilia.velasco@rodrigues.fr""}"
2,"{""contact_id"": 3765","""name"": ""Mariana Ellis""","""email"": ""mariana.ellis@rossi.org""}"
3,"{""contact_id"": 4187","""name"": ""Sofie Woods""","""email"": ""sofie.woods@riviere.com""}"
4,"{""contact_id"": 4941","""name"": ""Jeanette Iannotti""","""email"": ""jeanette.iannotti@yahoo.com""}"

In [64]:
contacts = contacts.drop(labels=0, axis=0)

In [65]:
contacts

,contact_id,name,email
1,"{""contact_id"": 4661","""name"": ""Cecilia Velasco""","""email"": ""cecilia.velasco@rodrigues.fr""}"
2,"{""contact_id"": 3765","""name"": ""Mariana Ellis""","""email"": ""mariana.ellis@rossi.org""}"
3,"{""contact_id"": 4187","""name"": ""Sofie Woods""","""email"": ""sofie.woods@riviere.com""}"
4,"{""contact_id"": 4941","""name"": ""Jeanette Iannotti""","""email"": ""jeanette.iannotti@yahoo.com""}"
5,"{""contact_id"": 2199","""name"": ""Samuel Sorgatz""","""email"": ""samuel.sorgatz@gmail.com""}"
...,...,...,...
996,"{""contact_id"": 3684","""name"": ""Whitney Noack""","""email"": ""whitney.noack@laboratorios.org""}"
997,"{""contact_id"": 5784","""name"": ""Gelsomina Migliaccio""","""email"": ""gelsomina.migliaccio@junk.com""}"
998,"{""contact_id"": 1498","""name"": ""Evangelista Pereira""","""email"": ""evangelista.pereira@thompson-peterson.biz""}"
999,"{""contact_id"": 6073","""name"": ""Gareth Comolli""","""email"": ""gareth.comolli@tiscali.fr""}"
1000,"{""contact_id"": 4939","""name"": ""Michelangelo Hess""","""email"": ""michelangelo.hess@bouygtel.fr""}"

In [68]:
contacts["contact_id"] = pd.to_numeric(contacts.contact_id.str.strip("""{"contact_id":"""))

AttributeError: Can only use .str accessor with string values!

In [70]:
contacts

,contact_id,name,email
1,4661,"""name"": ""Cecilia Velasco""","""email"": ""cecilia.velasco@rodrigues.fr""}"
2,3765,"""name"": ""Mariana Ellis""","""email"": ""mariana.ellis@rossi.org""}"
3,4187,"""name"": ""Sofie Woods""","""email"": ""sofie.woods@riviere.com""}"
4,4941,"""name"": ""Jeanette Iannotti""","""email"": ""jeanette.iannotti@yahoo.com""}"
5,2199,"""name"": ""Samuel Sorgatz""","""email"": ""samuel.sorgatz@gmail.com""}"
...,...,...,...
996,3684,"""name"": ""Whitney Noack""","""email"": ""whitney.noack@laboratorios.org""}"
997,5784,"""name"": ""Gelsomina Migliaccio""","""email"": ""gelsomina.migliaccio@junk.com""}"
998,1498,"""name"": ""Evangelista Pereira""","""email"": ""evangelista.pereira@thompson-peterson.biz""}"
999,6073,"""name"": ""Gareth Comolli""","""email"": ""gareth.comolli@tiscali.fr""}"
1000,4939,"""name"": ""Michelangelo Hess""","""email"": ""michelangelo.hess@bouygtel.fr""}"

### Create the Contacts DataFrame 
---
**Create a Contacts DataFrame that has the following columns:**
- A column named "contact_id"  that contains the unique number of the contact person.
- A column named "first_name" that contains the first name of the contact person.
- A column named "last_name" that contains the first name of the contact person.
- A column named "email" that contains the email address of the contact person

Then export the DataFrame as a `contacts.csv` CSV file.

### Option 1: Use Pandas to create the contacts DataFrame.

In [40]:
# Iterate through the contact_info_df and convert each row to a dictionary.

dict_values = []

# Print out the list of values for each row.
print(dict_values)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [25]:
# Create a contact_info DataFrame and add each list of values, i.e., each row 
# to the 'contact_id', 'name', 'email' columns.

   contact_id               name                         email
0        4661    Cecilia Velasco  cecilia.velasco@rodrigues.fr
1        3765      Mariana Ellis       mariana.ellis@rossi.org
2        4187        Sofie Woods       sofie.woods@riviere.com
3        4941  Jeanette Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel Sorgatz      samuel.sorgatz@gmail.com

In [26]:
# Check the datatypes.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   contact_id  1000 non-null   int64
 1   name        1000 non-null   object
 2   email       1000 non-null   object
dtypes: int64(1), object(2)
memory usage: 23.6+ KB

In [27]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 


# Drop the contact_name column

   contact_id                         email first_name last_name
0        4661  cecilia.velasco@rodrigues.fr    Cecilia   Velasco
1        3765       mariana.ellis@rossi.org    Mariana     Ellis
2        4187       sofie.woods@riviere.com      Sofie     Woods
3        4941   jeanette.iannotti@yahoo.com   Jeanette  Iannotti
4        2199      samuel.sorgatz@gmail.com     Samuel   Sorgatz
5        5650      socorro.luna@hotmail.com    Socorro      Luna
6        5889    carolina.murray@knight.com   Carolina    Murray
7        4842           kayla.moon@yahoo.de      Kayla      Moon
8        3280     ariadna.geisel@rangel.com    Ariadna    Geisel
9        5468  danielle.ladeck@scalfaro.net   Danielle    Ladeck

In [28]:
# Reorder the columns

   contact_id first_name last_name                         email
0        4661    Cecilia   Velasco  cecilia.velasco@rodrigues.fr
1        3765    Mariana     Ellis       mariana.ellis@rossi.org
2        4187      Sofie     Woods       sofie.woods@riviere.com
3        4941   Jeanette  Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel   Sorgatz      samuel.sorgatz@gmail.com
5        5650    Socorro      Luna      socorro.luna@hotmail.com
6        5889   Carolina    Murray    carolina.murray@knight.com
7        4842      Kayla      Moon           kayla.moon@yahoo.de
8        3280    Ariadna    Geisel     ariadna.geisel@rangel.com
9        5468   Danielle    Ladeck  danielle.ladeck@scalfaro.net

In [29]:
# Check the datatypes one more time before exporting as CSV file.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   contact_id  1000 non-null   int64
 1   first_name  1000 non-null   object
 2   last_name   1000 non-null   object
 3   email       1000 non-null   object
dtypes: int64(1), object(3)
memory usage: 31.4+ KB

In [30]:
# Export the DataFrame as a CSV file. 
contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)

### Option 2: Use regex to create the contacts DataFrame.

In [41]:
contact_info_df_copy = contact_info_df.copy()
contact_info_df_copy.head()

0                                                                               contact_info
1   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
2          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
3            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
4  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}

In [71]:
contacts

,contact_id,name,email
1,4661,"""name"": ""Cecilia Velasco""","""email"": ""cecilia.velasco@rodrigues.fr""}"
2,3765,"""name"": ""Mariana Ellis""","""email"": ""mariana.ellis@rossi.org""}"
3,4187,"""name"": ""Sofie Woods""","""email"": ""sofie.woods@riviere.com""}"
4,4941,"""name"": ""Jeanette Iannotti""","""email"": ""jeanette.iannotti@yahoo.com""}"
5,2199,"""name"": ""Samuel Sorgatz""","""email"": ""samuel.sorgatz@gmail.com""}"
...,...,...,...
996,3684,"""name"": ""Whitney Noack""","""email"": ""whitney.noack@laboratorios.org""}"
997,5784,"""name"": ""Gelsomina Migliaccio""","""email"": ""gelsomina.migliaccio@junk.com""}"
998,1498,"""name"": ""Evangelista Pereira""","""email"": ""evangelista.pereira@thompson-peterson.biz""}"
999,6073,"""name"": ""Gareth Comolli""","""email"": ""gareth.comolli@tiscali.fr""}"
1000,4939,"""name"": ""Michelangelo Hess""","""email"": ""michelangelo.hess@bouygtel.fr""}"

In [72]:
# Extract the four-digit contact ID number.

,contact_id,name,email
1,4661,Cecilia Velasco,"""email"": ""cecilia.velasco@rodrigues.fr""}"
2,3765,Mariana Ellis,"""email"": ""mariana.ellis@rossi.org""}"
3,4187,Sofie Woods,"""email"": ""sofie.woods@riviere.com""}"
4,4941,Jeanette Iannotti,"""email"": ""jeanette.iannotti@yahoo.com""}"
5,2199,Samuel Sorgatz,"""email"": ""samuel.sorgatz@gmail.com""}"
...,...,...,...
996,3684,Whitney Noack,"""email"": ""whitney.noack@laboratorios.org""}"
997,5784,Gelsomina Migliaccio,"""email"": ""gelsomina.migliaccio@junk.com""}"
998,1498,Evangelista Pereira,"""email"": ""evangelista.pereira@thompson-peterson.biz""}"
999,6073,Gareth Comolli,"""email"": ""gareth.comolli@tiscali.fr""}"
1000,4939,Michelangelo Hess,"""email"": ""michelangelo.hess@bouygtel.fr""}"

In [33]:
# Check the datatypes.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   contact_info  1000 non-null   object
 1   contact_id    1000 non-null   object
dtypes: object(2)
memory usage: 15.8+ KB

In [34]:
# Convert the "contact_id" column to an int64 data type.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   contact_info  1000 non-null   object
 1   contact_id    1000 non-null   int64
dtypes: int64(1), object(1)
memory usage: 15.8+ KB

In [35]:
# Extract the name of the contact
contacts['name'] = contacts['name'].str.extract(r'"name": "([^"]*)"')
contacts

,contact_info,contact_id,name
0,"{""contact_id"": 4661, ""name"": ""Cecilia Velasco"", ""email"": ""cecilia.velasco@rodrigues.fr""}",4661,Cecilia Velasco
1,"{""contact_id"": 3765, ""name"": ""Mariana Ellis"", ""email"": ""mariana.ellis@rossi.org""}",3765,Mariana Ellis
2,"{""contact_id"": 4187, ""name"": ""Sofie Woods"", ""email"": ""sofie.woods@riviere.com""}",4187,Sofie Woods
3,"{""contact_id"": 4941, ""name"": ""Jeanette Iannotti"", ""email"": ""jeanette.iannotti@yahoo.com""}",4941,Jeanette Iannotti
4,"{""contact_id"": 2199, ""name"": ""Samuel Sorgatz"", ""email"": ""samuel.sorgatz@gmail.com""}",2199,Samuel Sorgatz
5,"{""contact_id"": 5650, ""name"": ""Socorro Luna"", ""email"": ""socorro.luna@hotmail.com""}",5650,Socorro Luna
6,"{""contact_id"": 5889, ""name"": ""Carolina Murray"", ""email"": ""carolina.murray@knight.com""}",5889,Carolina Murray
7,"{""contact_id"": 4842, ""name"": ""Kayla Moon"", ""email"": ""kayla.moon@yahoo.de""}",4842,Kayla Moon
8,"{""contact_id"": 3280, ""name"": ""Ariadna Geisel"", ""email"": ""ariadna.geisel@rangel.com""}",3280,Ariadna Geisel
9,"{""contact_id"": 5468, ""name"": ""Danielle Ladeck"", ""email"": ""danielle.ladeck@scalfaro.net""}",5468,Danielle Ladeck

In [73]:
# Extract the email from the contacts and add the values to a new column.
contacts['email'] = contacts['email'].str.extract(r'"email": "([^"]*)"')
contacts

,contact_id,name,email
1,4661,Cecilia Velasco,cecilia.velasco@rodrigues.fr
2,3765,Mariana Ellis,mariana.ellis@rossi.org
3,4187,Sofie Woods,sofie.woods@riviere.com
4,4941,Jeanette Iannotti,jeanette.iannotti@yahoo.com
5,2199,Samuel Sorgatz,samuel.sorgatz@gmail.com
...,...,...,...
996,3684,Whitney Noack,whitney.noack@laboratorios.org
997,5784,Gelsomina Migliaccio,gelsomina.migliaccio@junk.com
998,1498,Evangelista Pereira,evangelista.pereira@thompson-peterson.biz
999,6073,Gareth Comolli,gareth.comolli@tiscali.fr
1000,4939,Michelangelo Hess,michelangelo.hess@bouygtel.fr

In [74]:
# Create a copy of the contact_info_df with the 'contact_id', 'name', 'email' columns.
contacts

,contact_id,name,email
1,4661,Cecilia Velasco,cecilia.velasco@rodrigues.fr
2,3765,Mariana Ellis,mariana.ellis@rossi.org
3,4187,Sofie Woods,sofie.woods@riviere.com
4,4941,Jeanette Iannotti,jeanette.iannotti@yahoo.com
5,2199,Samuel Sorgatz,samuel.sorgatz@gmail.com
...,...,...,...
996,3684,Whitney Noack,whitney.noack@laboratorios.org
997,5784,Gelsomina Migliaccio,gelsomina.migliaccio@junk.com
998,1498,Evangelista Pereira,evangelista.pereira@thompson-peterson.biz
999,6073,Gareth Comolli,gareth.comolli@tiscali.fr
1000,4939,Michelangelo Hess,michelangelo.hess@bouygtel.fr

In [75]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 
contacts[['first_name', 'last_name']] = contacts['name'].str.split(' ', expand=True)

# Drop the contact_name column
contacts = contacts.drop(labels='name',axis=1)
contacts

,contact_id,email,first_name,last_name
1,4661,cecilia.velasco@rodrigues.fr,Cecilia,Velasco
2,3765,mariana.ellis@rossi.org,Mariana,Ellis
3,4187,sofie.woods@riviere.com,Sofie,Woods
4,4941,jeanette.iannotti@yahoo.com,Jeanette,Iannotti
5,2199,samuel.sorgatz@gmail.com,Samuel,Sorgatz
...,...,...,...,...
996,3684,whitney.noack@laboratorios.org,Whitney,Noack
997,5784,gelsomina.migliaccio@junk.com,Gelsomina,Migliaccio
998,1498,evangelista.pereira@thompson-peterson.biz,Evangelista,Pereira
999,6073,gareth.comolli@tiscali.fr,Gareth,Comolli
1000,4939,michelangelo.hess@bouygtel.fr,Michelangelo,Hess

In [77]:
# Reorder the columns
contact_info=contacts[['contact_id', 'first_name', 'last_name' , 'email']]

In [78]:
# Check the datatypes one more time before exporting as CSV file.
contact_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 1 to 1000
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   contact_id  1000 non-null   int64
 1   first_name  1000 non-null   object
 2   last_name   1000 non-null   object
 3   email       1000 non-null   object
dtypes: int64(1), object(3)
memory usage: 31.4+ KB

In [79]:
# Export the DataFrame as a CSV file. 
# contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)
contact_info.to_csv("Resources/contacts.csv", encoding='utf8', index=False)